form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 30px;
    border: 2px hidden;
    border-radius: 20px;
    background-color: darkslategrey;
    padding: 10px 10px 10px 10px;
}

label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.login-form {
    margin-top: 30px;
}

button {
    margin-top: 20px;
    border: 2px hidden;
    border-radius: 20px;
    background-color: darkslategrey;
}

button:hover {
    background-color: darkcyan;
}

.error {
    margin-top: 50px;
    border: 2px hidden;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: red;
}