.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.detail {
    margin-left: 10px;
    margin-right: 10px;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 90px;
}