.comment {
    margin-top: 60px;
    width: 600px;
    border: 2px hidden;
    border-radius: 20px;
    background-color: darkslategrey;
    padding: 20px 20px 20px 20px;
}

.detail {
    margin-bottom: 20px ;
}