@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.post-container {
    margin-top: 60px;
    width: 600px;
    border: 2px hidden;
    border-radius: 20px;
    background-color: darkslategrey;
    padding: 20px 20px 20px 20px;
}

.title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Momo Trust Display", sans-serif;
}

.data {
    font-family: "Momo Trust Display", sans-serif;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.action {
    border: 2px hidden;
    border-radius: 20px;
    background-color: #535bf2;
    color: white;
    padding: 15px 30px 15px 30px;
}

.action:hover {
    background-color: #646cff;
    color: white;
}