textarea {
    margin-bottom: 30px;
    border: 2px hidden;
    border-radius: 20px;
    background-color: darkslategrey;
    padding: 10px 10px 10px 10px;
}

.new-post-container {
    margin-top: 50px;
}